<div class="container">
    <div class="row">
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/alyssa-stevenson-673787-unsplash.png" alt=""/>
            </div>
        </a>
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/brooke-winters-579071-unsplash.png" alt=""/>
            </div>
        </a>
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/eniko-kis-688765-unsplash.png" alt=""/>
            </div>
        </a>
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/fidel-fernando-537757-unsplash.png" alt=""/>
            </div>
        </a>
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/ronaldo-de-oliveira-690833-unsplash.jpg" alt=""/>
            </div>
        </a>
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/maja-petric-384957-unsplash.png" alt=""/>
            </div>
        </a>
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/masaaki-komori-603924-unsplash.png" alt=""/>
            </div>
        </a>
        <a href="#">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <img class="img-responsive" src="../../assets/images/nong-vang-426975-unsplash.png" alt=""/>
            </div>
        </a>          
    </div>
  </div>